<section class="py-5 ohidden">
    <div class="row  justify-content-center">
        <div id="slider">
            <button class="slide_btn prev"><</button>
            <div class="wrapper">
                <div class="items">
                    <div class="slide_item"></div>
                    <div class="slide_item">
                        <div class="content">
                            <div class="imgbox">
                                <img src="./img1.png">
                            </div>
                            <div class="textbox">
                                <div class="tag">즉시구매 마감 임박</div>
                                <div class="title">어나더 트라이얼 런처 스트라이크E (루카스 전용기)</div>
                                <div class="remain-time">마감시간 : 7일</div>
                                <div class="author-price-box">
                                    <div class="author">작성자</div>
                                    <div class="price">1,000,000,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide_item">
                        <div class="content">
                            <div class="imgbox">
                                <img src="./img1.png">
                            </div>
                            <div class="textbox">
                                <div class="tag">즉시구매 마감 임박</div>
                                <div class="title">어나더 트라이얼 런처 스트라이크E (루카스 전용기)</div>
                                <div class="remain-time">마감시간 : 7일</div>
                                <div class="author-price-box">
                                    <div class="author">작성자</div>
                                    <div class="price">1,000,000,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide_item">
                        <div class="content">
                            <div class="imgbox">
                                <img src="./img1.png">
                            </div>
                            <div class="textbox">
                                <div class="tag">즉시구매 마감 임박</div>
                                <div class="title">어나더 트라이얼 런처 스트라이크E (루카스 전용기)</div>
                                <div class="remain-time">마감시간 : 7일</div>
                                <div class="author-price-box">
                                    <div class="author">작성자</div>
                                    <div class="price">1,000,000,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide_item">
                        <div class="content">
                            <div class="imgbox">
                                <img src="./img1.png">
                            </div>
                            <div class="textbox">
                                <div class="tag">즉시구매 마감 임박</div>
                                <div class="title">어나더 트라이얼 런처 스트라이크E (루카스 전용기)</div>
                                <div class="remain-time">마감시간 : 7일</div>
                                <div class="author-price-box">
                                    <div class="author">작성자</div>
                                    <div class="price">1,000,000,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide_item">
                        <div class="content">
                            <div class="imgbox">
                                <img src="./img1.png">
                            </div>
                            <div class="textbox">
                                <div class="tag">즉시구매 마감 임박</div>
                                <div class="title">어나더 트라이얼 런처 스트라이크E (루카스 전용기)</div>
                                <div class="remain-time">마감시간 : 7일</div>
                                <div class="author-price-box">
                                    <div class="author">작성자</div>
                                    <div class="price">1,000,000,000원</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide_item"><div class="content orange">4</div></div>
                    <div class="slide_item"><div class="content orange">4</div></div>
                    <div class="slide_item"></div>
                </div>
            </div>
            <button class="slide_btn next">></button>
        </div>
    </div>
</section>