<div class="bg-light border-right" id="sidebar-wrapper" style="background-color: #1E1F22 !important;width: 500px;position: relative;height: calc(100vh - 190px);overflow-y: scroll;">
    <div class="sidebar-heading">구매/판매 채팅 </div>
    <div class="my-2 mb-2 detail_option_box" style="border-bottom: none;">
        <input type="radio" class="btn-check detail-btn" name="nn" id="dd" autocomplete="off" checked>
        <label class="btn btn-secondary p-3" for="dd">구매</label>

        <input type="radio" class="btn-check detail-btn" name="nn" id="ss" autocomplete="off">
        <label class="btn btn-secondary p-3" for="ss">판매</label>
    </div>
    <div class="list-group list-group-flush">
        <ul th:each="room : ${list}" class="chat-list-ul">
            <li>

                <a th:href="@{/chat/room(roomId=${room.roomId})}" >
                    <img src="/img/mypage_profile.png" alt="Image" class="" style="width:25px;">
                    [[${room.post.user.name}]]
                    <br>
                    <div class="d-flex">
                        <div style="overflow: hidden;border-radius: 1rem;">
                            <img th:if="${room.post.fileArray != null and room.post.fileArray.size() > 0}" th:src="'/upload/' + ${room.post.fileArray[0]}" alt="Image" class="" style="width:100px;">
                        </div>
                        <span style="font-size: 1.5rem; word-break: keep-all;">[[${room.post.title}]]</span>
                    </div>
                </a>



            </li>
        </ul>
    </div>
</div>