<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand logo" href="/"><span class="logo-text1">Black</span> <span class="logo-text2">Market</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-auto">
                <li class="nav-item"><a class="nav-link" th:class="${#strings.equals(#httpServletRequest.getRequestURI(), '/') ? 'nav-link active' : 'nav-link'}" href="/">온라인 경매</a></li>
                <li class="nav-item"><a class="nav-link" th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/post/search') ? 'nav-link active' : 'nav-link'}" href="/post/searchPost">인기 경매</a></li>
                <li class="nav-item"><a class="nav-link" th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/post/deadline') ? 'nav-link active' : 'nav-link'}" href="/post/deadline">마감임박</a></li>
                <li class="nav-item"><a class="nav-link" th:class="${#strings.contains(#httpServletRequest.getRequestURI(), '/charge') ? 'nav-link active' : 'nav-link'}" href="/charge">충전</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="#!">고객센터</a></li>-->
            </ul>
            <div th:if="${loginflag}">
                <div class="d-inline text-white profile-btn-box">
                    <div class="dropdown d-inline">
                        <button class="btn btn-secondary dropdown-toggle bg-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/user-profile.png" style="width: 35px">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark profile-dropdown" aria-labelledby="dropdownMenuButton1">
                            <div sec:authorize="isAuthenticated()">
                            <li class="px-4 py-2"><img src="/img/profile.png" style="width: 35px">
                                    <div style="display:inline; padding-left:10px;" sec:authentication="principal.username"></div>
                            <li class="px-2">
                                <div class="py-2 px-1" style="background-color: #461D6A; border-radius: 0.5rem;">
                                    <i class="fa-solid fa-coins mx-1" style="color:#FFF500;"><div style="display:inline; padding-left:10px;" sec:authentication="principal.money"></div></i>
                                </div>
                                <hr style="border-top: 1px solid #fff;">
                            </li>
                            <li><a class="dropdown-item" href="/mypage"> <i class="fa-solid fa-table-columns pe-1"></i> 마이페이지</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}"> <i class="fa-solid fa-right-from-bracket pe-1"></i> 로그아웃</a></li>

                        </ul>
                    </div>
                    <i class="fa-solid fa-globe mx-1"></i>
                    <i class="fa-regular fa-bell mx-1"></i>
                    <i class="fa-regular fa-message mx-1"></i>

                </div>
                <button class="btn btn-outline-yellow" data-bs-toggle="modal" data-bs-target="#postModal">
<!--                    <a th:href="@{/logout}">Logout</a>-->
                    경매등록
                </button>

            </div>

            <div th:unless="${loginflag}">
                <button class="btn btn-outline-yellow" data-bs-toggle="modal" data-bs-target="#loginModal">
                    로그인
                </button>
            </div>
        </div>
    </div>
</nav>