<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Black Maket</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/navigation"></div>

<!-- Header-->
        <header class="pt-5 pb-3">
            <div class="container px-4 px-lg-5 mb-1 ">
               
                <h1 class="text-white text-center">충전</h1>

            </div>
        </header>
        <!-- Section-->
        
        <section class="pt-1 pb-2 mb-1">
            <div class="container mt-3 pt-3" style="background-color: #2B2D31">
                <div class="row">
                    <h3 class="text-center text-white">충전수단 선택</h3>
                    <hr class="hr-line">
                </div>
                <div class="row">
                    <div class="col justify-content-center text-center py-7 pay-box">
                        <h4 class="text-white">네이버페이</h4>
                        <img src="./img/naver_pay.png"/>
                    </div>
                    <div class="col justify-content-center text-center py-7 pay-box">
                        <h4 class="text-white">카카오페이</h4>
                        <img src="./img/kakao_pay.png"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-1 pb-2 mb-1">
            <div class="container mt-3 pt-3" style="background-color: #2B2D31">
                <div class="row">
                    <h4 class=" text-white">
                        충전금액 선택
                        <span style="font-size: 0.7rem;">
                            이외의 금액은 직접입력란에 입력해주세요.
                        </span>
                    </h4>
                    <hr class="hr-line">
                </div>
                <div class="row">
                    <input type="radio" class="btn-check display-none" name="options" id="option1" autocomplete="off" checked>
                    <label class="col py-2 text-white pay-price-box" for="option1">5,000원</label>

                    <input type="radio" class="btn-check display-none" name="options" id="option2" autocomplete="off">
                    <label class="col py-2 text-white pay-price-box" for="option2">1,0000원</label>

                    <input type="radio" class="btn-check display-none" name="options" id="option3" autocomplete="off">
                    <label class="col py-2 text-white pay-price-box" for="option3">3,0000원</label>

                    <input type="radio" class="btn-check display-none" name="options" id="option4" autocomplete="off">
                    <label class="col py-2 text-white pay-price-box right-borer-none" for="option4">5,0000원</label>

                    
                    <!-- <div class="col py-2 text-white pay-price-box">5,000원</div>
                    <div class="col py-2 text-white pay-price-box">10,000원</div>
                    <div class="col py-2 text-white pay-price-box">30,000원</div>
                    <div class="col py-2 text-white pay-price-box">50,000원</div> -->
                    
                </div>
                <div class="row">

                    <input type="radio" class="btn-check display-none" name="options" id="option5" autocomplete="off" >
                    <label class="col py-2 text-white pay-price-box" for="option5">100,000원</label>

                    <input type="radio" class="btn-check display-none" name="options" id="option6" autocomplete="off" >
                    <label class="col py-2 text-white pay-price-box" for="option6">200,000원</label>

                    <input type="radio" class="btn-check display-none" name="options" id="option7" autocomplete="off" >
                    <label class="col-6 py-2 text-white pay-price-box text-center right-borer-none" for="option7">
                        <input type="text" id="self-price" class="text-center text-white" for="option7" placeholder="직접입력">원
                    </label>

                    <!-- <div class="col-6 py-2 text-white pay-price-box text-center">
                        <input type="text" class="text-center" placeholder="직접입력">
                    </div> -->
                </div>
            </div>
        </section>
        <section class="pt-1 pb-2 mb-1">
            <div class="container mt-3 pt-3" style="background-color: #2B2D31">
                <div class="row">
                    <h4 class=" text-white">
                        충전금액 선택
                        <span style="font-size: 0.7rem;">
                            이외의 금액은 직접입력란에 입력해주세요.
                        </span>
                    </h4>
                    <hr class="hr-line mb-5">
                </div>
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2  text-end text-white">
                        0원
                    </div>
                    <div class="p-2  text-end text-white">
                        보유 중인 마일리지
                    </div>
                </div>
                <div class="d-flex flex-row-reverse bd-highlight">
                    <div class="p-2  text-end text-white">
                        0원
                    </div>
                    <div class="p-2  text-end text-white">
                        충전 후 마일리지
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-1 pb-2 mb-1">
            <div class="container mt-3 pt-3">

                <div class="row">
                    <button type="button" class="btn btn-primary col-lg-6 col-12 mx-auto">결제하기</button>
                </div>
            </div>
        </section>


<!-- Footer-->
<div th:replace="fragments/footer"></div>

<div th:replace="modal/login"></div>
<div th:replace="modal/join"></div>
<div th:replace="modal/post_detail"></div>
<div th:replace="modal/post"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

</body>

</html>