<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Black Maket</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/navigation"></div>


<!-- Header-->
<div th:replace="fragments/main_header"></div>

<!-- Section-->
<div th:replace="fragments/carousel"></div>
<hr>

<section class="pt-1 pb-5">
  <div class="container px-4 px-lg-5 mt-3">
    <div class="my-2 mb-5 order_option_box">
      <input type="radio" class="btn-check post-btns" name="post_get" id="recent_btn" autocomplete="off" checked>
      <label class="btn btn-secondary" for="recent_btn">최근 게시된</label>
      <!-- <label class="px-3 py-2" for="option1">최근 게시된</label> -->

      <input type="radio" class="btn-check post-btns" name="post_get" id="most_btn" autocomplete="off">
      <label class="btn btn-secondary" for="most_btn">가장 많이 본</label>

    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left card-list" >
    </div>
    <div class="text-center">
      <a class="btn btn-outline-dark mt-auto py-2 plusbtn" href="#1">더보기</a>
    </div>
  </div>
</section>

<!-- Footer-->
<div th:replace="fragments/footer"></div>

<div th:replace="modal/login"></div>
<div th:replace="modal/join"></div>
<div th:replace="modal/post_detail"></div>
<div th:replace="modal/post"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

</body>

</html>
