<div th:each="post : ${postList.content}" class="col mb-5">
        <div class="card h-100 card-post" th:attr="data-id=${post.id}" data-bs-toggle="modal" data-bs-target="#postDetailModal" onclick="post_detail_btn(this)">
<!--            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--            <img class="card-img-top" th:src="'/upload/' + ${post.fileArray[0]}" alt="..." />-->
            <img th:if="${post.fileArray != null and post.fileArray.size() > 0}" th:src="'/upload/' + ${post.fileArray[0]}" alt="Image" class="card-img-top">
            <!-- Product details-->
            <div class="card-body p-3">
                <div class="text-start">
                    <div class="author">
                        <img src="/img/user-profile.png" style="width:15px; height:15px;display:inline;">
                        [[${post.user.getName()}]]
                    </div>
                    <div class="my-3 tag">
                        <span th:if="${post.immediatePurchasePrice != null and post.immediatePurchasePrice != 0}" class="px-1 me-1 py-1 blue">즉시구매 </span>
                        <span
                                th:if="${post.targetDate.isBefore(T(java.time.LocalDateTime).now().plusDays(3))&& !post.targetDate.isBefore(T(java.time.LocalDateTime).now())}"
                                class="px-1 me-1 py-1 red">
                            마감임박
                        </span>
                        <span
                                th:if="${post.targetDate.isBefore(T(java.time.LocalDateTime).now())}"
                                class="px-1 me-1 py-1 gray">
                            경매마감
                        </span>


                    </div>
                    <h5 class="title" th:text="${post.title}"></h5>
                    <div class="text-end">

<!--                        <span th:text="${post.biddingPrice}+' 원'"></span>-->
                        <div th:switch="${#strings.toString(post.state)}" class="tag mypage-tag">
                            <span th:case="WAITING"th:text="${post.biddingPrice}+' 원'"></span>
                            <span th:case="BIDDING"th:text="${post.biddingPrice}+' 원'"></span>
                            <span th:case="BIDDED">마감</span>
                            <span th:case="COMPLETED">마감</span>
                            <span th:case="FINISHED">마감</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>